.App {
  text-align: center;
}

.

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bg-dark {
  background-color: #05396b !important;
  justify-content: space-evenly;
}

.container .box {

    border-radius: 25px;
    border: black solid 0.5px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    margin: 5%;
    padding: 3%;
}

.container form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 5%;
    margin: 5%;
}
.container input {
    margin-top:5%;
    margin-bottom: 5%;

}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-right: 2%;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.items {
    display: flex;
    flex-flow: row nowrap;
}

a {
  color: #fff !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  
}
a:hover{
  color: #05396b !important;
  background-color: white;
  text-decoration: none !important;
  font-weight: bold;
}


.stories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}
